NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_LINE_PROVIDER=custom:line
SUPABASE_LINE_PROVIDER=custom:line
NEXT_PUBLIC_SITE_URL=https://tsu-waterbottle.com

GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_CALENDAR_ID=
GOOGLE_TIMEZONE=Asia/Taipei

RESEND_API_KEY=
RESEND_FROM_EMAIL=
ADMIN_NOTIFY_EMAIL=
